@import 'variables';

*{
  border: none;
  box-sizing: border-box;
  list-style: none;
  margin: 0;
  padding: 0;
  transition: all .2s ease;
}

body{
  display: grid;
  font-family: $league-spartan;
  font-size: 2rem;
  min-height: 100vh;
  max-width: 1440px;
  margin: 0 auto;
  min-width: 360px;
  place-items: center;
}