@import 'variables';

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    border: none;
    list-style: none;
}


body{
    background-color: $main-background;
    font-family: $league-spartan;
    max-width: 1440px;
    min-width: 360px;
    height: 100vh;
    margin: 0 auto;
}