@import '../abstract/variables';

.calculator{
    display: grid;
    height: 100vh;
    padding: 2rem;
    gap: 1.5rem;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 2fr;
    .calculator__header{
        color: $White-text;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr ;
        .calculator__themes{
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 1fr;
            .themes__options{
                display: flex;
            }
        }
    }

    .output{
        display: grid;
        background-color: $input-background;
        color: $White-text;
        border-radius: 15px;
        height: 100px;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
    }

    .container__buttons{
        background-color: $toggle-background-keypad-background;
        display: grid;
        height: 200px;
        height: 100%;
        grid-gap: 10px;
        padding: 1rem;
        border-radius: 10px;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(5, 1fr);
        .btn{
            border-radius: 5px;
            height: 60px;
            font-size: 32px;
            font-weight: 700;
            border-bottom: 4px solid $key-shadow-btn;
            background-color: $key-backgroundw;
            color: $main-background;
        }
        .del{
            text-transform: uppercase;
            font-size: 1.1rem;
            color: $White-text;
            color: $White-text;
            background-color: $key-background;
            border-bottom: 4px solid $key-shadow-reset;
        }
        .reset{
            text-transform: uppercase;
            font-size: 1.1rem;
            color: $White-text;
            grid-column: 1/3;
            margin-bottom: 5px;
            background-color: $key-background;
            border-bottom: 4px solid $key-shadow-reset;
            
        }
        .equals{
            grid-column: 3/5;
            margin-bottom: 5px;
            background-color: $key-background-toggle;
            border-bottom: 4px solid $key-shadow;
            color: $White-text;
        }
    }
}